<div id="main">

  <%= form_for @follower ,:url => user_followers_path do |f| %>
    ATND Nickname
    <%= f.text_field :nickname, :onkeyup => "pre_regist_search_joined();" %>
    <%= f.submit '追加' %>
  <% end %>

  <div id="pre_regist_search_result"></div>
</div>


