<div id="main">

  <%= form_for @follower ,:url => user_followers_path do |f| %>
    ATND Nickname
    <%= f.text_field :nickname %>
    <%= f.submit '追加' %>
    <input type="button" value="イベントを検索" onClick="" >
  <% end %>
</div>

