// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.selector10{  
    padding:.6em .8em;  
    font-size: 12px;
}  

.selector11{  
    border:#ccc solid 1px;  
    display:block;  
    padding:.2em .3em; 
    font-size: 16px;
}  
.selector11b{  
    border-left:#ccc solid 6px;  
    padding: 0em .3em 0em .8em;  
}  

.events{
    padding:.2em 2em;  
    font-size: 14px;
}

